<div *ngIf="mostrarError"  class="alert alert-dismissible alert-danger">
    <strong>{{ textError | uppercase }}</strong>
  </div>
<div class="container mt-3">
    <h1 class="display-5 text-center">INGRESE LA URL A CORTA</h1>

    <div class="row mt-5 mb-4">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="nombreUrl" class="form-control form-control-lg" placeholder="Ingrese la url..">
        </div>
        <div class="col-md-4">
            <button (click)="procesarUrl()" class="btn btn-primary btn-block btn-lg">ACEPTAR</button>
        </div>
    </div>

    <div *ngIf="urlProcesada"   class="row">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="urlShort" class="form-control form-control-lg" placeholder="Ingrese procesada..">
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>